# IntelliJ project files
.idea
*.iml
out
gen

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest
.cache
.pytest_cache

# C extensions
*.so

# SSL keys and certs
*.pem
*.key
*.crt
